html {
	@import "_browsers";
}

body{
    
    .wrapper{
        padding: 0 8px;
        width: 100%;
        max-width: $tab-port;
        margin: 0 auto;
        @include box-sizing(border-box);
    }

	header{
		@import "_header";
	}
	
	#content{
		@import "_content";
	}
	
	footer{
		@import "_footer";
	}
	
	@import "_pages",
			"_modules";
}