// Social Media colors
$fb_color: #3B5998; // Facebook
$fl_color: #FE0883; // Flickr
$fs_color: #8FD400; // Foursquare
$go_color: #D6492C; // Google+
$li_color: #4875B4; // LinkedIn
$tu_color: #2B4964; // Tumblr
$tw_color: #33CCFF; // Twitter
$vi_color: #86B32D; // Vimeo
$yt_color: #FF3333; // YouTube

// Screen Sizes

$mobile-land: 478px;
$tab-small: 600px;
$tab-port: 768px;
$tab-land: 1045px;
$normal: 1281px;
$large: 1600px;